body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


canvas {
    margin-top: 240px;
    transform: scale(1.8);
}

